@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<div class="text-danger">
<h1>Create</h1>
</div>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <div class="star-rating">
                    <input type="radio" id="star5" name="Rating" value="*****" />
                    <label for="star5" title="5 stars"></label>

                    <input type="radio" id="star4" name="Rating" value="****" />
                    <label for="star4" title="4 stars"></label>

                    <input type="radio" id="star3" name="Rating" value="***" />
                    <label for="star3" title="3 stars"></label>

                    <input type="radio" id="star2" name="Rating" value="**" />
                    <label for="star2" title="2 stars"></label>

                    <input type="radio" id="star1" name="Rating" value="*" />
                    <label for="star1" title="1 star"></label>
                </div>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>

            <h2></h2>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
